.collapse-trigger{
    cursor: pointer;
}

.collapse-items , .schedule{
    border: 1.5px solid #C4C3D3;
    border-radius: 10px;
}

.ball-indicator{
    width: 15px;
    height: 15px;
    background: var(--red);
    border-radius: 100px;
    margin-top: 3px;
}

.line-dashed{
    height: 19px;
    border-right: 2px dashed #000 ;
    width: 2px;
}

.card-container{
    width: 100%;
    white-space: nowrap;
}

@media screen and (min-width :768px) {
        
    .card-container::-webkit-scrollbar{
        display: none;
    }
}