:root{
    --inputTextBackground : #F7F8FC;
    --red : #F14668;
    --textSecondary : #66819F;
    --inputPrependBackground : #AFAFAF;
}

body{
    font-family: 'SF Pro Display' , sans-serif !important;
    font-weight: normal;
}

h3{
    font-size: 24px !important;
    font-weight: bold;
    color: var(--textSecondary);
}

p{
    line-height: 150%;
}