:root{
    --inputTextBackground : #F7F8FC;
    --red : #F14668;
    --textSecondary : #66819F;
    --inputPrependBackground : #AFAFAF;
    --blueColor : #2F87FF;
    --blackColor : #2B3044;
    --colorPrimary : #E72E80;
    --placeholderColor : #66819F;
    --grayColor : #9E9DAE;
    --orangeColor : #FD9244;
}

::placeholder{
    color: var(--placeholderColor) ;
}

html{
    overflow-x: hidden;
}

body{
    font-family: 'SF Pro Display' , sans-serif !important;
    font-weight: normal;
    letter-spacing: .5px;
     overflow-x: hidden;
    
}

h3{
    font-size: 24px !important;
    font-weight: bold;
    color: var(--textSecondary);
}

h3 , h1 , h2 , p{
    line-height: 160% !important;
}

p{
     font-size: 14px;
}